Source: qtwebchannel-opensource-src
Section: libs
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Scarlett Clark <sgclark@kubuntu.org>
Build-Depends: cmake,
               debhelper (>= 9),
               libqt5sql5-sqlite,
               pkg-kde-tools,
               qtbase5-dev (>= 5.6.0+dfsg~),
               qtbase5-private-dev (>= 5.6.0+dfsg~),
               qtchooser,
               qtdeclarative5-private-dev (>= 5.6.0~),
               qttools5-dev-tools
Standards-Version: 3.9.8
Homepage: http://doc.qt.io/qt-5/qtwebchannel-index.html
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/qt/qtwebchannel.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/qt/qtwebchannel.git

Package: qtwebchannel-doc
Section: doc
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${misc:Depends}
Description: QtWebChannel Documentation
 Provides the documentation for QtWebChannel
 .
 This package contains the documentation for QtWebChannel.

Package: qtwebchannel-doc-html
Section: doc
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${misc:Depends}
Description: QtWebChannel HTML Documentation
 Provides the documentation for QtWebChannel
 .
 This package contains the HTML documentation for QtWebChannel.

Package: libqt5webchannel-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Pre-Depends: dpkg (>= 1.15.6~)
Depends: libqt5webchannel5 (= ${binary:Version}),
         qtbase5-dev,
         qtdeclarative5-dev,
         ${misc:Depends}
Recommends: libjs-jquery, libjs-jquery-mobile, nodejs, npm
Description: Web content engine library for Qt - development files
 Provides public API shared by both QtWebEngine and QtWebEngineWidgets
 .
 This package contains the development files needed to build Qt 5 applications
 using QtWebEngine library.

Package: libqt5webchannel5
Architecture: any
Multi-Arch: same
Pre-Depends: dpkg (>= 1.15.6~), ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Web content engine library for Qt
 Provides public API shared by both QtWebEngine and QtWebEngineWidgets
 .
 QtWebEngine provides a Web browser engine that makes it easy to embed content
 from the World Wide Web into your Qt application.
 .
 This package contains the QtWebEngine libraries.

Package: qml-module-qtwebchannel
Architecture: any
Multi-Arch: same
Pre-Depends: dpkg (>= 1.15.6~), ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt WebKit QML module
 QtWebEngine provides a Web browser engine that makes it easy to embed content
 from the World Wide Web into your Qt application.
 .
 This package contains the WebKit QML module for QtDeclarative.
